<main class="holder">
        <div class="historia">
            <h2>Historia</h2>
            <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dolor hic ullam quam tenetur voluptatem
                ratione veritatis nam! Illo sit rerum quasi voluptatem non iste nobis itaque amet excepturi consequatur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse vero perferendis atque doloremque aliquam
                distinctio cupiditate, facere iste voluptas corrupti exercitationem dolor dolores dolorum officia id
                odit a voluptates! Quae!</P>
            <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dolor hic ullam quam tenetur voluptatem
                ratione veritatis nam! Illo sit rerum quasi voluptatem non iste nobis itaque amet excepturi consequatur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse vero perferendis atque doloremque aliquam
                distinctio cupiditate, facere iste voluptas corrupti exercitationem dolor dolores dolorum officia id
                odit a voluptates! Quae!</P>
        </div>
        <div class="staff">
            <h2>Staff</h2>
            <div class="personas>">
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan tanto" width="75">
                </figure>
                <h5>Juan Tanto</h5>
                <h6>Gerente General</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque beatae dolore, tempora hic nulla
                    itaque quia fugit, placeat cupiditate quaerat debitis minus corrupti neque. Pariatur praesentium
                    facere illum blanditiis possimus!</p>
            </div>
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros2.jpg" alt="Juan tanto" width="75">
                </figure>
                <h5>Sandra Mastropiero</h5>
                <h6>Gerente Comercial</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque beatae dolore, tempora hic nulla
                    itaque quia fugit, placeat cupiditate quaerat debitis minus corrupti neque. Pariatur praesentium
                    facere illum blanditiis possimus!</p>
            </div>
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros3.jpg" alt="Juan tanto" width="75">
                </figure>
                <h5>Daniel Reyes</h5>
                <h6>Director</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque beatae dolore, tempora hic nulla
                    itaque quia fugit, placeat cupiditate quaerat debitis minus corrupti neque. Pariatur praesentium
                    facere illum blanditiis possimus!</p>
            </div>
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros4.jpg" alt="Juan tanto" width="75">
                </figure>
                <h5>Jose Lopez</h5>
                <h6>Gerente Financiero</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque beatae dolore, tempora hic nulla
                    itaque quia fugit, placeat cupiditate quaerat debitis minus corrupti neque. Pariatur praesentium
                    facere illum blanditiis possimus!</p>
            </div>
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros5.jpg" alt="Juan tanto" width="75">
                </figure>
                <h5>Esteban Echegoyen</h5>
                <h6>Gerente de Ventas</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque beatae dolore, tempora hic nulla
                    itaque quia fugit, placeat cupiditate quaerat debitis minus corrupti neque. Pariatur praesentium
                    facere illum blanditiis possimus!</p>
            </div>
        </div>
    </main>
