  <main class="holder">
        <h2>Novedades</h2>
      <div class="novedades">
          <h4>TITULO</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magni perferendis, temporibus eum assumenda architecto enim ex beatae voluptate eaque laudantium facilis, odio corrupti repellat minima repudiandae unde, vero reprehenderit!</p>
          <hr>
      </div>
      <div class="novedades">
        <h4>TITULO</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magni perferendis, temporibus eum assumenda architecto enim ex beatae voluptate eaque laudantium facilis, odio corrupti repellat minima repudiandae unde, vero reprehenderit!</p>
        <hr>
    </div>
    <div class="novedades">
        <h4>TITULO</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magni perferendis, temporibus eum assumenda architecto enim ex beatae voluptate eaque laudantium facilis, odio corrupti repellat minima repudiandae unde, vero reprehenderit!</p>
        <hr>
    </div>
       
    </main>