  <main class="holder">
        <h2>Servicios</h2>
        <div class="servicio">
            <figure>
                <img src="images/servicios/aereo.jpg" alt="avion">
            </figure>
            <div class="info">
                <h4>Transporte aereo</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam necessitatibus aperiam quos hic repellat, esse quia animi dolore distinctio? Tempora veniam cumque aperiam animi commodi iure magnam dolores reiciendis eligendi?</p>
            </div>
         </div>
         <div class="servicio">
            <figure>
                <img src="images/servicios/ferroviario.jpg" alt="avion">
            </figure>
            <div class="info">
                <h4>Transporte ferroviario</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam necessitatibus aperiam quos hic repellat, esse quia animi dolore distinctio? Tempora veniam cumque aperiam animi commodi iure magnam dolores reiciendis eligendi?</p>
            </div>
         </div>
         <div class="servicio">
            <figure>
                <img src="images/servicios/maritimo.jpg" alt="avion">
            </figure>
            <div class="info">
                <h4>Transporte marítimo</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam necessitatibus aperiam quos hic repellat, esse quia animi dolore distinctio? Tempora veniam cumque aperiam animi commodi iure magnam dolores reiciendis eligendi?</p>
            </div>
         </div>
         <div class="servicio">
            <figure>
                <img src="images/servicios/terrestre.jpg" alt="avion">
            </figure>
            <div class="info">
                <h4>Transporte terrestre</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam necessitatibus aperiam quos hic repellat, esse quia animi dolore distinctio? Tempora veniam cumque aperiam animi commodi iure magnam dolores reiciendis eligendi?</p>
            </div>
         </div>
        
    </main>